
  .error-page-wrap {
    color: $black;
    footer {
      .contact {
        display: none;
      }
    }
  }

.four-oh-four {
    min-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  
    @media (max-width: 620px) {
      justify-content: center;
      min-height: 80vh;
    }
  
    h1 {
      font-size: 5rem;
      text-transform: capitalize;
      // font-family: $accentLight;
      font-style: italic;
      font-weight: 900;
      width: 100%;
      margin: -40px 0 0 0;
  
      @media (min-width: 621px) and (max-width: 1125px) {
        font-size: 3.5rem;
      }
  
      @media (max-width: 620px) {
        font-size: 2.5rem;
        margin-bottom: 0;
      }
    }
    .sub-title {
      font-size: 1.5rem;

      @media (min-width: 621px) and (max-width: 1125px) {
          font-size: 1.2rem;
      }
  
      @media (max-width: 620px) {
      font-size: 1rem;
      margin-bottom: 0;
      }
    }
  }
