footer {
  background: $black;
  color: $white;
  min-height: 150px;

  a {
    color: $white;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;


    @media (max-width: 650px) {
      flex-direction: column-reverse;
    }

    .credits {
      margin-top: 5px;
      p {
        font-size: 0.7rem;
        font-weight: 400;
        margin: 0;

        @media (max-width: 650px) {
          text-align: center;
        }
      }
    }

    .social {
      a {
        margin-right: 10px;
        font-size: 1rem;
      }
      a:last-of-type {
        margin-right: 0;
      }

      @media (max-width: 650px) {
        margin-bottom: 20px;
        a {
          margin-right: 10px;
          font-size: 0.8rem;
        }
        a:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
