footer {
  background: $grey;
  min-height: 150px;
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid $black;
    
    @media (max-width: 650px) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    
    .contact {
      width: 100%;
    }
    .credits {
      margin-top: 5px;
      p {
        font-size: 0.9rem;
        font-weight: 400;
        margin: 0;
        font-family: $mainFont;

        @media (max-width: 650px) {
          text-align: center;
        }
      }
    }

    .social {
      a {
        margin-right: 10px;
        font-size: 0.9rem;
        font-family: $mainFont;
        letter-spacing: 1px;
      }
      a:last-of-type {
        margin-right: 0;
      }

      @media (max-width: 650px) {
        margin-bottom: 20px;
        a {
          margin-right: 10px;
          font-size: 1rem;
        }
        a:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 70px auto;
  margin-left: 5%;

  @media (max-width: 650px) {
    margin-left: 0px; 
    order: 1;
  }

  p {
    font-size: 2rem;
    display: flex;
    margin: 5px 0 0 0;

    @media (max-width: 549px) {
      font-size: 1.2rem;
    }

  }
  a {
    font-style: italic;
    font-size: 2rem;
    font-weight: 500;
    align-self: flex-start;

    @media (max-width: 549px) {
      font-size: 1.4rem;
    }

  }

}
