header {
  // background: green !important;
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .icon {
      height: 26px;
      width: 26px;
      transition: all 5s;
      img {
        width: 100%;
        height: 100%;
      }
    }

    @keyframes rotation {
      from {
          transform: rotate(0deg);
      }
      to {
          transform: rotate(359deg);
      }
    }

    .icon:hover, .icon:focus {
      animation: rotation 5s infinite linear;
      background: transparent;
    }
  }

}
