header {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: $mainFont;

    h1 {
      margin: 0;
      font-family: $accentFont;
      text-transform: uppercase;
      letter-spacing: -1.5px;

      a {
        font-size: 1.6rem;
        padding: 0;
        line-height: 0.9;
        &:hover, &:focus, &:active {
          color: $seventhColor;
          background: none;
          text-decoration: none;
        }
      }
    }

    ul {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      right: 20px;
      top: 30%;
      margin: 0;
      // font-family: $accentFont;
      text-transform: uppercase;
      // text-transform: capitalize;

      li {
        list-style: none;
        margin-left: 20px;

        a, p {
          font-weight: 500;
          font-size: 0.8rem;
          letter-spacing: 1px;


          &:hover, &:focus, &:active {
            text-decoration: none;
            // color: $fourthColor;
            color: $thirdColor;
            background: transparent;
          }
        }
        // .contact-menu-item {
        //   color: $thirdColor;

        //   &:hover, &:active, &:focus {
        //     color: $fourthColor;
        //   }
        // }
      }

      .drop-down-wrap {
        display: relative;
        transition: all 0.5s ease;

        .drop-down-item {
          padding: 3px;
          margin: 0;
        }

        .drop-down-menu {
          padding: 0;
          display: absolute;
          top: 50px;
          left: 195px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          opacity: 0;
          transition: all 0.5s ease;
          background: $white;
          

          &:hover, &:focus, &:active {
            opacity: 1;
            top: 35px;
          }

          li {
            margin: 0;
            padding: 5px;
          }
        }
        
        &:hover, &:focus, &:active {
          .drop-down-menu {
            opacity: 1;
            top: 35px;
          }
        }
      }
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}








