.bm-burger-button {
  position: fixed;
  width: 36px;
  right: 30px;
  top: 0;
  display: none;
  // border: 1px solid red;


  .bm-burger-bars {
    background: $mainColor;
    width: 80% !important;
    margin: 0 auto !important;
  }


  @media (max-width: 768px) {
    width: 25px;
    right: 20px;
    top: 25px;

  }

  @media (max-width: 768px) {
    display: inline;
  }

}

.bm-cross-button {
  height: 24px;
  width: 24px;

  .bm-cross {
    background: $black;
  }
}

.bm-menu {
  background: $grey;
  padding: 2.5em 1.5em 0;
  font-size: 1.5rem;

  .bm-item {
    display: inline-block;
    text-decoration: none;
    margin: 10px 0;
    line-height: 1;
    color: $black;
    transition: color 0.2s;
    outline: none !important;
    padding: 5px 10px;
  
    &:hover, &:focus, &:active, &::selection {
      color: $black;
      text-decoration: line-through;
    }
  }

  .case-studies {
    margin-left: 2px;
    padding-right: 20px;
    font-family: $mainFont;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    opacity: 0.2;

    &:hover, &:focus, &:active, &::selection {
      color: $black;
      background: none;
      outline: none;
    }
  }
}



