.services-page-wrap {
    background: $mainColor;
    transition: all 0.5s ease-in-out;
    ::selection {
        background: $sixthColor; 
    }

    header, footer {
        background: $mainColor;
    }

  .services-navigation {

    .wrapper {
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      max-width: 800px;

      p {
        text-align: center;

        a {
            font-size: 1.6rem;
            margin-right: 10px;
            &:hover, &:focus, &:active {
                color: $black;
                text-decoration: line-through;
            }

            @media (max-width: 768px) {
                font-size: 1.4rem;
                display: block;
          
            }
        }
      }

      }

    .pull-quote {
      h2 {
        font-size: 53px;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        a {
          text-decoration: underline;
        }

        @media (max-width: 700px) {
          font-size: 33px;
        }
      }

    }
  }

  .sticky-services-navigation {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background: $mainColor;
    z-index: 998;
    box-shadow: 1px 1px 15px rgba(#000, 0.3) ;

    @media (max-width: 1100px) {
      top: initial;
      bottom: 0;
      left: 0;
      height: initial;
      width: 100%;
    }

    .sticky-nav-wrap {
      position: relative;
      width: 100%;
      height: 100%;

      .open {
        position: absolute;
        top: 48%;
        left: 0;
        margin: 0;
        transform: rotate(90deg) translateY(133px);
        width: 300px;
        z-index: -1;
        font-family: 'poppins';
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 2px;
        text-align: center;

        @media (max-width: 1100px) {
          top: 20px;
          left: 0;
          width: 100%;
          transform: initial;
        }
      }

      .trigger {
        cursor: pointer;

        input {
          opacity: 0;
          z-index: -1;
          position: absolute;
        }
      
        input[type="checkbox"] {
          & + .service-nav-wrap {
            visibility: hidden;
            opacity: 0;
            margin-right: -225px;
            transition: all 1s ease-in-out;

            @media (max-width: 1100px) {
              margin-right: initial;
              margin-bottom: -430px;
            }
          }
          // Show if checkbox is clicked
          &:checked + .service-nav-wrap {
            visibility: visible;
            opacity: 1;
            margin-right: 0;

            @media (max-width: 1100px) {
              margin-right: initial;
              margin-bottom: 0;
            }
          }
        }
      }

      .service-nav-wrap {
        margin-top: 50px;
        z-index: -1;
        height: 100%;

        @media (max-width: 1100px) {
          margin-top: 0;
          padding-top: 50px;
          height: initial;
        }

        p {
          margin-left: 30px;

              @media (max-width:1100px) {
                display: flex;
                justify-content: center;
                margin-left: 0;
                text-align: center;
              }
    
          a {
              font-size: 1.5rem;
              &:hover, &:focus, &:active {
                  color: $black;
                  text-decoration: line-through;
              }
          }
        }
      }
    }


  }

  .service-descriptions-wrap {
    padding: 70px 0;
    max-width: 1000px;
    margin: 0 auto;

    .services-block {
      display: flex;
      justify-content: space-between;
      margin: 70px 0;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      @media (max-width: 700px) {
        flex-direction: column;
        max-width: 500px;
        margin: 50px auto;

              &:nth-child(even) {
        flex-direction: column;
      }
      }

       .gatsby-image-wrapper {
         width: 45%;

        @media (max-width: 700px) {
          width: 100%;
        }
       }

       .service-info {
         width: 50%;

        @media (max-width: 700px) {
          width: 100%;
        }

         h2 {
           font-size: 33px;
           font-weight: 700;
           margin: 0 0 -15px;

            @media (max-width: 700px) {
              margin: 20px 0 -15px;
            }
         }

         p, ul {
           font-size: 20px;
         }
       }
    }
  }

  .lcds-wrap {
    text-align: left;

    .wrapper {
      justify-content: flex-start;
    }

    h2, p {
      text-align: left !important;
      margin-left: 0 !important;
    }

    h2 {
      line-height: 1.1;
    }

    p {
      font-size: 22px;
      margin: 10px 0;
      max-width: 640px;
    }

  }

  .testimonials {
    // border-top: 1px solid black;

    .slider {

      a.previousButton {
        left: 0 !important;
      }

      a.nextButton {
        right: 0 !important;
      }

      .slide {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;


        p {
          width: 80%;
          max-width: 700px;
          font-size: 25px;
          margin-bottom: 10px;

          @media (max-width: 768px) {
            font-size: 20px;
          }

          @media (max-width: 600px) {
            // font-size: 18px;
            width: 70%;
          }
        }

        h2 {
          font-size: 14px;
          text-transform: uppercase;
          margin-top: 0;
          letter-spacing: 1px;
          font-family: $accentFont;
          font-weight: 700;
        }
      }
    }
  }

}