$black: #000;
$white: #fff;
$grey: #f0ebf4;
$darkGrey: #d8d3dc;

// $mainColor: #e64398; // raspberry
$mainColor: #450099;
$secondColor: rgb(69, 113, 218); // blush
$thirdColor: #b29bc7; // pastel purple
$fourthColor: #a1c2d1; // pastel blue

$next-step: #4ea6e3;
// $next-step: #1865c0;
$wicked-problem: #3eab54;
$easy-rider: #3F51B5;
// $good-ones: #AB9662;
$good-ones: #AB9662;


// $mainFont: 'Open Sans', sans-serif;
// $mainFont: 'Muli', sans-serif;
$mainFont: 'Poppins', sans-serif;
$secondFont:'Poppins', sans-serif;


h1, h2, h3, h4, h5, h6 {
  font-family: $mainFont !important;
}


a {
  color: $black;
  text-decoration: none;
  display: inline-block;
  padding: 3px;
}
a:hover, a:focus {
  background: $mainColor;
  color: $white;
  text-decoration: underline;
}
