$black: #000;
$white: #fff;
$grey: #f8f8f5;
$darkGrey: #d4d4d4;

$mainColor: #f1d3c9;
$secondColor: #dba483; 
$thirdColor: #c9654d; 
$fourthColor: #2f7c67;
$fifthColor: #051f48;
$sixthColor: #d31021;
$seventhColor: #cacaee;

$next-step: #3665C0;
$wicked-problem: #3eab54;
$easy-rider: #3F51B5;
$good-ones: #AB9662;



@import url("https://use.typekit.net/yri4mff.css");

$titleFont: freight-big-pro, serif;
$bodyFont: freight-big-pro, sans-serif;
$accentFont: poppins, sans-serif;



