@import 'variables';
@import 'header';
@import 'footer';
@import 'menu';
@import '404';
@import 'home';
@import 'about';
@import 'services';
@import 'project-page';


body {
  margin: 0;
  font-family: $bodyFont;
  font-weight: 400;
  line-height: 1.45;
  background: $grey;
  color: $black;

  ::selection {
    background: $mainColor; 
  }

}

h1, h2, h3, h4, h5, h6 {
  font-family: $titleFont;
  font-weight: 300;
}




a {
  color: $black;
  text-decoration: none;
  display: inline-block;
  padding: 3px;
}
a:hover, a:focus {
  color: $sixthColor;
}

main {
  min-height: calc(100vh - 220px);
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1.45rem 1.0875rem;
}

a.hidden {
  left:-1200000px;
  position:absolute;
  top:0;
  // left: 0;
  width: 0;
  height: 0;
  overflow:hidden;
  z-index:-999;
}
a.hidden:focus, a.hidden:active {
  color: $black;
  background-color:$mainColor;
  top: auto;
  left: 0;
  width: 150px;
  height: auto;
  overflow:auto;
  // margin: 10px 15%;
  padding:5px;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}




.links-page-wrap {
  background: $grey;
  ::selection {
      background: $mainColor; 
  }

  header, footer {
    background: $grey;
  }

  .landing-about {
    @media (max-width: 768px) {
        padding: 60px 0 20px 0;
    }

  }
}



.insta-links {
  display: block;
  width: 100%;
  text-align: center;
  font-family: $accentFont;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.3px;
  padding: 20px 0;

  &:active, &:hover, &:focus {
    background: $seventhColor;
    color: black !important;
  }
}

.links-wrap {
  margin: 0 auto !important;

}
