@import 'variables';
@import 'header';
@import 'footer';
@import 'menu';
@import '404';
@import 'home';
@import 'about';
@import 'services';
@import 'contact';
@import 'marquee';

@import 'testimonials';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $bodyFont;
  line-height: 1.45;
  background: $grey;
  color: $black;
  font-size: 20px;

  ::selection {
    background: $seventhColor;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $titleFont;
  font-weight: 300 !important;
  font-variation-settings: "wdth" 100, "wght" 300;
  line-height: 1.1;
  margin-bottom: 15px;
}


h1 {
  font-size: 72px;

  @media (max-width: 920px) {
    font-size: 60px;
  }

  @media (max-width: 767px) {
    font-size: 42px;
  }
}

h2 {
  font-size: 53px;

  @media (max-width: 920px) {
    font-size: 42px;
  }

  @media (max-width: 767px) {
    font-size: 33px;
  }
}

h3 {
  font-size: 42px;

  @media (max-width: 920px) {
    font-size: 33px;
  }

  @media (max-width: 767px) {
    font-size: 26px;
  }
}

h4 {
  font-size: 33px;

  @media (max-width: 920px) {
    font-size: 26px;
  }
}

h5 {
  font-size: 26px;

  @media (max-width: 768px) {
    font-size: 22px;
  }
}

a {
  color: $black;
  text-decoration: none;
  display: inline-block;
  padding: 3px;
}

a:hover,
a:focus {
  color: $sixthColor;
}

main {
  min-height: calc(100vh - 220px);
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1400px;
  padding: 1.45rem 1.0875rem;

  @media (max-width: 768px) {
    // font-size: 22px;
  }
}

a.hidden {
  left: -1200000px;
  position: absolute;
  top: 0;
  // left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -999;
}

a.hidden:focus,
a.hidden:active {
  color: $black;
  background-color: $mainColor;
  top: auto;
  left: 0;
  width: 150px;
  height: auto;
  overflow: auto;
  // margin: 10px 15%;
  padding: 5px;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}




.links-page-wrap {
  background: $grey;

  ::selection {
    background: $mainColor;
  }

  header,
  footer {
    background: $grey;
  }

  .landing-about .about-wrap p {
    text-align: center;
  }

  .landing-about {
    @media (max-width: 768px) {
      padding: 60px 0 20px 0;
    }

  }

  .tabs {
    border: 1px solid black;
    margin-bottom: 70px;
  }

  .tab {
    border-bottom: 1px solid black;

    .insta-links {
      display: block;
      width: 100%;
      text-align: center;
      font-family: $accentFont;
      font-weight: 600;
      font-size: 1rem;
      letter-spacing: 0.3px;
      padding: 20px 0;

      &:active,
      &:hover,
      &:focus {
        background: $seventhColor;
        color: black !important;
      }
    }
  }

  .tab-paragraph {
    p {
      font-size: 12px;
      font-weight: 400;
      margin: 0;
      text-align: center;
    }
  }

  .tab:last-child {
    border-bottom: none;
  }
}

.links-quote {
  text-align: left !important;
}

.links-wrap {
  margin: 0 auto !important;

  .fine-print {
    p {
      margin: 0;
    }
  }

}